@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Poppins:wght@400;500;600&display=swap");

:root {
  --primary-color: #f5f4f2;
  --text-dark: #57534e;
  --text-light: #78716c;
  --white: #ffffff;
  --max-width: 200%;
  --header-font: "Lora", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.link a {
  font-weight: 500;
  color: var(--text-light);
  transition: 0.3s;
}

.link a:hover {
  color: var(--text-dark);
}

.nav__logo {
  text-align: center;
  cursor: pointer;
}

.nav__logo img {
  margin: auto;
  max-width: 7vw;
  border-radius: 20%;

}

.nav__logo h4 {
  font-size: 1.5rem;
  font-family: var(--header-font);
  letter-spacing: 2px;
  color: var(--text-dark);
}

.nav__logo p {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--text-light);
}

/* .header {
  margin-bottom: 10rem;
  background-image: url("Media/header.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
} */

.header__container {
  min-height: 80%;
  position: relative;
}

.header__content {
  position: absolute;
  bottom: -10rem;
  padding: 2rem;
  background-color: var(--primary-color);
  border: 10px solid var(--white);
}

.header__content h4 {
  position: relative;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--text-light);
}

.header__content h4::before {
  position: absolute;
  content: "";
  bottom: -1rem;
  left: 0;
  height: 2px;
  width: 40px;
  background-color: var(--text-light);
}

.header__content h1 {
  width: 100%;
  max-width: 600px;
  font-size: 4rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.header__content h1 span {
  font-style: italic;
}

.about__container {
  padding: 10rem 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.about__content p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.about__content h4 {
  position: relative;
  margin-bottom: 2rem;
  padding-left: 5rem;
  font-size: 1.5rem;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.about__content h4::before {
  position: absolute;
  content: "";
  top: 0;
  left: 2rem;
  height: 100%;
  width: 1rem;
  background-color: var(--primary-color);
}

.about__image img {
  margin: auto;
  max-width: 400px;
  outline: 2px solid var(--text-light);
  outline-offset: 1rem;
}

.banner {
  padding: 10rem 0;
  background-image: url("Media/banner2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner__container {
  text-align: center;
  color: var(--white);
  font-family: var(--header-font);
}

.banner__container h4 {
  font-size: 4rem;
  font-weight: 400;
}

.banner__container p {
  font-size: 1.5rem;
}

.prices__container {
  background-image: linear-gradient(
      rgba(35, 71, 103, 0.5),
      rgba(35, 71, 103, 0.5)
    ),
    url("./Media/bg-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5%;
}

.prices__container .section__container {
  padding: 10rem 1rem;
  display: flex;
  justify-content: center;
}

.prices__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  color: var(--primary-color);
}

.prices__content h2 {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--primary-color);
}

.prices__content button {
  padding: 0.5rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  background-color: transparent;
  color: var(--secondary-color);
  font-size: 1rem;
  cursor: pointer;
}

.display__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.display__col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.display__content {
  padding: 4rem 0;
  flex: 1;
  display: grid;
  place-content: center;
  text-align: center;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.display__col:nth-child(1) .display__content,
.display__col:nth-child(3) .display__content {
  background-color: #edeae3;
}

.display__col:nth-child(2) .display__content {
  background-color: #daddd6;
}

.display__content h4 {
  font-size: 2.5rem;
  font-weight: 400;
}

.display__content p {
  font-style: italic;
}

.footer {
  margin-top: 2rem;
  position: relative;
  background-color: var(--primary-color);
}

.footer__container {
  text-align: center;
}

.footer__container img {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  max-width: 7vw;
  border-radius: 20%;
}

.footer__container h4 {
  max-width: 600px;
  margin: auto;
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--text-dark);
  margin-top: 3rem;
}

.footer__container p {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 2rem;
  color: var(--text-light);
}

.footer__container button {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
  cursor: pointer;
  transition: 0.3s;
  background-color: var(--white);
}

.footer__container button:hover {
  color: var(--text-dark);
}

.footer__bar {
  padding: 1rem;
  text-align: center;
  font-size: 0.8rem;
  color: var(--text-light);
}

@media (width < 900px) {
  .about__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 5rem;
  }

  .about__image {
    grid-area: 1/1/2/2;
  }

  .display__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .display__col:nth-child(3) {
    display: none;
  }
}

@media (width < 600px) {
  .link {
    display: none;
  }

  .header {
    margin-bottom: 20rem;
  }

  .header__content {
    bottom: -20rem;
  }

  .display__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .display__col:nth-child(3) {
    display: flex;
  }
}


.slider-container{
  width: 100%;
  height: 100vh;
  /* background: white; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper{
  width: 90%;
  height: fit-content;
}

.swiper-slide img{
  margin-left: 25%;
  border-radius: 20px;
  width: 50%;
}

.image-description{
  position: absolute;
  margin-left: 45%;
  margin-top: 5%;
}

.image-description-fixed{
  position: absolute;
  margin-left: 40%;
  margin-top: 5%;
}


.contact{
  display: none;
  max-width: 100%;
}

#form{
  display: none;
  max-width: 100%;

}

form{
  width: 20%;
  background: rgba(0, 0, 0, 0.233);
  border-radius: 5rem;
  padding: 3%;
  margin-left: 40.2%;
  margin-top: -3%;
}

form div{
  margin: 0.5%;
  max-width: 100%;

}

input{
  margin: 10%;
  margin-left: 5%;
  padding: .5rem;
  border-radius: 2rem;
  text-align: center;
}

form button{
  height: 5%;
  align-self: center;
  margin-left: 35%;
}

.form-button {
  --b: 3px;   
  --s: .45em; 
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.form-button:hover,
.form-button:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.form-button:active {
  background: var(--color);
  color: #fff;
}

@media screen and (max-width: 1024px) {
  form{
    width: 25%;
    margin-left: 37.8%;
  }
}

@media screen and (max-width: 768px) {
  .swiper-slide img{
    margin-left: 15%;
    border-radius: 20px;
    width: 70%;
  }

  .image-description{
    margin-left: 38%;
    margin-top: 5%;
  }
  
  .image-description-fixed{
    margin-left: 30%;
    margin-top: 5%;
  }

  form{
    width: 32%;
    margin-left: 34%;
    margin-top: -5%;
  }
}

@media screen and (max-width:  426px) {
  .nav__links img{
    max-width: 20%;
  }

  .nav__links i{
    display: none;
  }

  .swiper-slide img{
    margin-left: 5%;
    border-radius: 20px;
    width: 90%;
  }

  .slider-container{
    height: 50vh;
  }

  .tv{
    margin-left: 25%;

  }

  .lighting{
    margin-left: 30%;
  }

  .garden{
    margin-left: 22%;
  }

  .image-description-fixed{
    margin-left: 12%;
    margin-top: 5%;
  }

  .footer__container img{
    max-width: 20%;

  }

  .footer__container h4{
    font-size: 190%;
  }

  form{
    width: 52%;
    margin-left: 25%;
    margin-top: -15%;
  }
}

@media (width < 400px) {
  form{
    width: 60%;
    margin-left: 25%;
    margin-top: -15%;
  }

  .nav__links i{
    display: none;
  }
}
